<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pwani Tvet Clinic</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="head">
                <h1>Pwani Tvet Clinic</h1>
                <nav class="nav">
                    <ul class="ul">
                        <a href=""><li>Home</li></a>
                        <a href=""><li>Services</li></a>
                        <a href=""><li>Doctors</li></a>
                        <a href=""><li>Contact</li></a>
                        <a href=""><li>Agents</li></a>
                    </ul>
                </nav>
            </div>